fastapi>=0.115,<1
uvicorn[standard]>=0.34,<1
python-multipart>=0.0.20,<1
torch>=2.7,<3
torchaudio>=2.7,<3
funasr>=1.2.7
modelscope>=1.24.0
paddleocr>=3,<4
paddlepaddle>=3,<4
rapidocr_onnxruntime>=1.2,<2
